* {
  font-family: 'Roboto', sans-serif;
  background-color:rgb(230, 209, 230);

}
body {
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 61px;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
}

label {
  font-size: 14px;
  font-weight: 6s00;
  letter-spacing: 0.1px;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 5px 0 10px 0;
  padding: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid cadetblue;
}

input:focus {
  outline-style: none;
}
input:hover {
  border-bottom: 2px solid cadetblue;
}

button {
  background: none;
  border: 1px solid black;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  margin-top: 10px;
  padding: 5px 10px;
  text-transform: uppercase;
}
button:hover {
  border: 2px solid black;
}

table {
  border-collapse: collapse;
  
}

thead {
  border-bottom: 1px solid cadetblue;
}

th, td {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 15px;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.self-end {
  align-self: flex-end;
}

.column {
  flex-direction: column;
}

.phone-form {
  border: double cadetblue;
  max-width: 250px;
  margin: auto;
  padding: 15px;
}

.phone-list {
  margin: 50px auto;
  text-align: center;
}